#grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 10px;
}

#grid img {
  height: 150px;
  width: 150px;
}

body{
  background: rgb(54, 6, 109);
  font-family: 'Orbitron', sans-serif;
  background-image: url(images/space-background.jpeg);
  background-size: cover;
}

h3, p{
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
button{
  width: 350px;
  color: aliceblue;
  background-color: rgb(169, 19, 19);
  border: solid;
  border-color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}